<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Upload_an_image %><br>
    <%= f.file_field :img %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>

  <! -- datetime picker -->
 
  <div class="input-append date" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    <%= f.label :available_from %><br>
    <input class="span2" size="16" id="dp3" type="text" value="12-02-2012">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>

  <!-- time picker bootstrap -->

  <!-- end time picker bootstrap -->

  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
