<link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

<div id="map" data-owner-locations='<%=raw @hash.to_json %>'>
</div>
<br>
<div id="map-toggle" class="header_1"><a class="btn btn-lg btn-primary">Introduce your dog to new people friends nearby.</a></div>

<div class="container marketing">
  <br>
  <br>
  <br>
  <% count = 0 %>
  <% @people.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |person| %>
        <div class="col-lg-4 dog">
          <%= image_tag(person.img.url(:thumb), :class => "img-circle") %>
          <h2><%= person.name %></h2>
          <p><%= person.person_snippet %></p>
          <p><a class="btn btn-default" href="<%= person_path(person) %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      <% end %>
  </div><!-- /.row -->
  <% end %>
</div>

