<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zip</th>
      <th>Dog owner</th>
      <th>Picture</th>
      <th>Available to dogsit</th>
      <th>Needs dogsitting</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.zip %></td>
        <td><%= person.dog_owner %></td>
        <td><%= person.picture %></td>
        <td><%= person.available_to_dogsit %></td>
        <td><%= person.needs_dogsitting %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
