<div class="row">
  <div class="col-md-3">
  </div>

<div class="col-md-6 centered">

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@person.img.url(:medium), :class => "img-circle") %>
</p>
  
<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @person.zip %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<!-- <p>
  <strong>Dogs:</strong>
  <#%= @person.dog.name %>
</p> -->

<p>
  <strong>Available from:</strong>  
  <%= @person.available_start %><br>
  <strong>Available to:</strong>
  <%= @person.available_end %>
</p>

<strong><a href="mailto:<%= @person.email %>">Contact <%= @person.name %></a> 
</strong> 
<br>

<div class="dog-p-right">
<%= link_to 'Back to Doglovers', people_path %>
</div>
    <%= link_to 'Edit', edit_person_path(@person), class: "btn btn-lg btn-primary dog-btn" %>