<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@person.img.url(:medium), :class => "img-circle") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @person.zip %>
</p>

<p>
  <strong>Dog owner:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Available to dogsit:</strong>
  <%= @person.available_start %>
  <%= @person.available_end %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
