<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @person.avatar.url %>
  <%= image_tag @person.avatar.url(:medium) %>
  <%= image_tag @person.avatar.url(:thumb) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @person.zip %>
</p>

<p>
  <strong>Dog owner:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @person.picture %>
</p>

<p>
  <strong>Available to dogsit:</strong>
  <%= @person.available_to_dogsit %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
