<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>
      <ul>
      <% @dog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Upload_an_image %><br>
    <%= f.file_field :img %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :temperament %><br>
    <%= f.text_field :temperament %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.text_field :active %>
  </div>
  <div class="field">
    <%= f.label :housetrained %><br>
    <%= f.check_box :housetrained %>
  </div>
   <div class="field">
    <%= f.label :dog_snippet %><br>
    <%= f.text_field :dog_snippet %>
  </div>
  <div class="field">
    <%= f.label :special_needs %><br>
    <%= f.text_area :special_needs %>
  </div>

  <div class="input-prepend date" data-date=" " data-date-format="dd-mm-yyyy">
    <%= f.label :available_start %><br>
    <input class="col-md-2" id="dp3" size="16" type="text" value=" " name="dogshare[available_day_start]">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <br>

  <div class="input-append date" data-date=" " data-date-format="dd-mm-yyyy">
    <%= f.label :available_end %><br>
    <input class="col-md-2" id="dp4" size="16" type="text" value=" " name="dogshare[available_day_end]">
    <span class="add-on"><i class="icon-th"></i></span>
  </div><br>

  <div class="actions">
    <%= f.submit 'Create Dog', class: "btn btn-lg btn-primary paragraph-btn" %>
  </div>

<% end %>
