<link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

markers = handler.addMarkers(<%=raw @hash.to_json %>);

<div class="container marketing">
  <br>
  <br>
  <br>
  <% count = 0 %>
  <% @dogs.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |dog| %>
        <div class="col-lg-4 dog">
          <%= image_tag(dog.img.url(:thumb), :class => "img-circle") %>
          <h2><%= dog.name %></h2>
          <p><b>Owner:</b> <%= dog.owner.name %></p>
          <p><em><%= dog.dog_snippet %></em></p>
          <p><a class="btn btn-default" href="<%= dog_path(dog) %>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      <% end %>
  </div><!-- /.row -->
  <% end %>
</div>

