<p id="notice"><%= notice %></p>

<div class="center">
  <%= image_tag(@dog.img.url(:medium), :class => "img-circle") %>
  <h2><%= @dog.name %></h2>
  <p><em><%= @dog.dog_snippet %></em></p>
</div>


<div class="col-sm-6">
  <p>

    <strong>Description:</strong>
    <%= @dog.description %>
  </p>

  <p>
    <strong>Temperament:</strong>
    <%= @dog.temperament %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @dog.active %>
  </p>

  <p>
    <strong>Special needs:</strong>
    <%= @dog.special_needs %>
  </p>
</div>

<div class="col-sm-6 center">

  <% if false %>
  <%= image_tag(@dog.owner.img.url(:thumb), :class => "img-circle") %>
  <% end %>
  <p>
    <strong>Owner:</strong>
    <%= link_to @dog.owner.name, person_path(@dog.owner.id) %>
  </p>
  <p>
  <strong>Zip:</strong>
    <%= @dog.owner.zip %>
  </p>
  <p>
  <strong>Age:</strong>
  <%= @dog.age %>
  </p>
  <p>
    <strong>Breed:</strong>
    <%= @dog.breed %>
  </p>
  <p>
  <strong>Housetrained:</strong>
  <%= if @dog.housetrained == true 
    "yes"
    else "no"
    end %>
  </p>

  <p>
    <strong>Available from:</strong>
    <%= @dog.available_start %><br>
  <p>
    <strong>Available to:</strong>
    <%= @dog.available_end %>
  </p>
</div>

<div class="col-sm-2">

  <%= link_to 'Back', dogs_path %>
  <%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-lg btn-primary paragraph-btn" %> 
</div>


  

