<%= form_for(@dogshare) do |f| %>
  <% if @dogshare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dogshare.errors.count, "error") %> prohibited this dogshare from being saved:</h2>

      <ul>
      <% @dogshare.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dog_id %><br>
    <%= f.number_field :dog_id %>
  </div>
  <div class="field">
    <%= f.label :sitter_id %><br>
    <%= f.number_field :sitter_id %>
  </div>

<div class="input-prepend date" data-date=" " data-date-format="dd-mm-yyyy">
    <%= f.label :available_start %><br>
    <input class="col-md-2" id="dp3" size="16" type="text" value=" " name="dogshare[available_day_start]">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
  <br>

  <div class="input-append date" data-date=" " data-date-format="dd-mm-yyyy">
    <%= f.label :available_end %><br>
    <input class="col-md-2" id="dp4" size="16" type="text" value=" " name="dogshare[available_day_end]">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>
<br>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
