<p id="notice"><%= notice %></p>

<p>
  <strong>Dog:</strong>
  <%= @dogshare.dog_id %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= @dogshare.sitter_id %>
</p>

<p>
  <strong>Available from:</strong>  
  <%= @dogshare.available_day_start %><br>
  <strong>Available to:</strong>
  <%= @dogshare.available_day_end %>
</p>

<%= link_to 'Edit', edit_dogshare_path(@dogshare) %> |
<%= link_to 'Back', dogshares_path %>
