<title>dogg.io</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- images/text in carousel
      ================================================ -->

      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'share.jpg', :class => 'home-img', :alt => "First Slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>walk a dog</h1>
              <p>Stay engaged in your community with people and furry animals alike by walking a neighborhood dog.</p>
              <p><a class="btn btn-lg btn-primary" href="/dogs" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "schweenrocky.jpg", :class => "home-img", :alt => "Second Slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>make a friend</h1>
              <p>More interaction, less isolation. Pets and humans alike can benefit from a little companionship.</p>
              <p><a class="btn btn-lg btn-primary" href="/dogs" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'pillows.jpg', :class => "home-img", :alt => "Third Slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>canines in your community</h1>
              <p>You love dogs and cannot have one -or- your heart aches imagining your dog bored during the days? Become a part of the dogg.io movement by walking or sharing a dog.</p>
              <p><a class="btn btn-lg btn-primary" href="/dog" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
         <div class="item">
          <%= image_tag 'IMG_3168.jpg', :class => "home-img", :alt => "Fourth Slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>go for a run</h1>
              <p>"A tired dog is a happy dog." Go for a daily 30-minute walk or run with a dog. It will keep you (and your canine buddy) healthy and energized. </p>
              <p><a class="btn btn-lg btn-primary" href="/dog" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
         <div class="item">
          <%= image_tag 'IMG_3999.jpg', :class => "home-img", :alt => "Fifth Slide" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>give back</h1>
              <p>Share the responsibility of caring for an animal in your community by helping out dogs in your zip code.</p>
              <p><a class="btn btn-lg btn-primary" href="/dog" role="button">find a dog</a></p>
              <p><a class="btn btn-lg btn-primary" href="/people" role="button">find a doglover</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    
    <!-- /.carousel -->



   
